.App {
  text-align: center;
  margin: 0;
}
.contact-wrapper {
  height: 650px;
}
.one-column {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1em;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
